.root {
  position: relative;
  &Icon {
    position: absolute;
    font-size: 20px;
    top: 25%;
    opacity: 0.3;
  }
  .magnifier{
    left: 5px;
  }
  .clear {
    right: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 27px;
    border-radius: 10px;
    font-size: 16px;
    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}